.overhead {
    background-color: #a8d0e6;
    text-align: center;
}
.profile-image {
    width:30vw;
    max-width: 200px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 1021;
    -webkit-transform: translate3d(0,0,0);
}
.card {
    background-color: #fff6d1;
    border: none;
}
.icon-image {
    width: 25%;
    max-width:64px;
}
#my-name {
    font-size: 6vw;
    margin-bottom: -1.1vw;
    padding: 0;
}
@media (min-width: 1200px) {
    #my-name {
        font-size: 75px;
        margin-bottom: -14px;
    }
}
.main-content {
    padding-top: 100px;
}
.light-blue {
    color: #a8d0e6;
}
.black {
    color:#000000;
}
.tan {
    color: #fff6d1;
}
.white {
    color: #ffffff;
}
.light-blue-background {
    background-color: #a8d0e6;
}
.black-background {
    background-color:#000000;
}
.tan-background {
    background-color: #fff6d1;
}
.white-background {
    background-color: #ffffff;
}