.overhead{
    background-color: #041421;
    color: #ffffff;
    text-align: center;
}
.dropdown-menu{
    border-radius: 0;
    color:  #041421;
}
.blank{
    background-color: #86b9b0;
    padding: 6px 30px;
    border: none;
    border-radius: 0;
}
.main{
    padding: 40px 20%;
    background-color: #86b9b0;
    color: #ffffff;
}
.heading{
    color: #4c7273;
    text-align: left;
}
.paragraph{
    color:#ffff;
    text-align: left;
    font-size: 20px;
}
.info{
    text-align: center;
}
@media screen and (max-width: 48em){
    .info{
        text-align: left;
    }
}
.info-heading{
    color: #4c7273;
}
.info-paragraph{
    font-size: 20px;
}
.emphasized-heading{
    color: #86b9b0;
    font-weight: bold;
    padding: 20px;
    font-size:46px;
}
.home-button{
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1;
}
a:hover{
    color:#4c7273;
}
img{
    text-align: center;
    vertical-align: middle;
}
